@use "../abstracts/functions";

body,
main {
  background-color: functions.color("secondary");
  margin: 0 auto;
  transition: 0.1s linear all;
}

.container {
  margin: 0 auto;
  max-width: functions.rem(1440px);
  overflow: hidden;
  padding-inline: functions.rem(20px)
}
