@use "./functions" as function;
@use "./variables";

@mixin flex($align, $justify, $gap) {
  align-items: $align;
  display: flex;
  gap: function.rem($gap);
  justify-content: $justify;
}

@mixin breakpoint($value) {
  @if map-has-key(variables.$breakpoints, $value) {
    @media screen and (min-width: map-get(variables.$breakpoints, $value)) {
      @content;
    }
  }
}
