/*
    Archive for variables
*/

$base-size-unit: 16px;

$colors: (
  "lighten": #ffffff,
  "gray-100": #f2f4f7,
  "gray-500": #667085,
  "gray-600": #475467,
  "gray-800": #1D2939,
  "gray-900": #1d2939,
);

$fontWeight: (
  "regular": 400,
  "medium": 500,
  "semibold": 600,
  "bold": 700,
  "extrabold": 800,
);

$breakpoints: (
  "sm": 375px,
  "md": 768px,
  "lg": 1220px,
  "xl": 1440px,
);
