/*
    Archive for variables
*/

$base-size-unit: 16px;

$colors: (
  "gray-800": #1e283414,
  "gray-200": #E4E7EC,
  "gray-900": #1d2939,
  "clear": #FFFFFF,

);

$fontWeight: (
  "regular": 400,
  "medium": 500,
  "semibold": 600,
  "bold": 700,
  "extrabold": 800,
);

$breakpoints: (
  "sm": 375px,
  "md": 768px,
  "lg": 1220px,
  "xl": 1440px,
);
