@use "../abstracts/functions";
@use "../abstracts/mixins";

.c-articles {
  background-color: functions.color("gray-100");
  padding: functions.rem(40px) functions.rem(20px);

  @include mixins.breakpoint(md) {
    padding: functions.rem(80px);
  }

  &__wrapper {
    margin: 0 auto;
    max-width: functions.rem(980px);

    @include mixins.grid(1fr, functions.rem(20px));
  }
}
