@use "../abstracts/functions";
@use "../abstracts/mixins";

.c-button {
  @include mixins.flex(center, center, 0);
  background-color: functions.color("lighten");
  border-radius: functions.rem(8px);
  display: none;
  text-decoration: none;
  width: max-content;

  @include mixins.breakpoint(lg) {
    @include mixins.flex(center, center, 0);
  }

  &__span {
    @include mixins.flex(center, center, 0);
    color: functions.color("gray-900");
    padding: functions.rem(14px);
  }
}
