@use "../abstracts/mixins";
@use "../abstracts/functions";
@use "../abstracts/variables";
.menu {
  &__navigation {
    @include mixins.flex(center, center, 40px);
    list-style-type: none;
  }

  &__item {
    list-style: none;
    
  }
  &__text{
    text-decoration:none;
    color: functions.color("gray-900");

  }
}
