@use "../abstracts/mixins";
@use "../abstracts/functions";

.menu {
  &__unlist {
    @include mixins.flex(center, center, 40px);
    list-style-type: none;
  }

  &__item {
    list-style: none;
  }

  &__text {
    text-decoration: none;
    color: functions.color("gray-900");
    font-size: functions.rem(16px);
    font-weight: functions.weight("medium");
  }

  &__desktop {
    display: none;
    @include mixins.breakpoint(md) {
      @include mixins.flex(center, center, 40px);
    }
  }
  &__mobile {
    @include mixins.breakpoint(md) {
      display: none;
    }
  }
}
